#about, #resume {
    background: white;
}

#about > div {
    margin-bottom: 8vh;
    margin-top: 8vh;
}

#about h2, h3 {
    text-align: center;
}

#about img {
    margin-bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

body {
    padding-top: 50px;
    background: rgb(61, 61, 61);
}

#bgvideo div {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: -15px;
    margin-bottom: -5px;
}

#contact {
    background: beige;
}

#contact > div {
    margin: 4vh 0;
    
}

.divider {
    height: 1px;
    width: 100%;
    display: inherit;
    margin: 0px;
    margin-right: -15px;
    margin-left: -15px;
    overflow: hidden;
    background: black;
}

form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#hello {
    position: absolute;
    z-index: 1;
    font-size: 6em;
    color: white;
    text-shadow: -1px -1px 2px;
    text-align: center;
    font-weight: 300;
}

#hero {
    text-align: center;
    background-color: white;
    font-weight: 300;
}

#hero h1 {
    margin: 25px;
    font-size: 300%;
    font-weight: 300;
}

#hero p {
    font-size: 200%;
    margin: 25px;
}

.hidden {
    visibility: hidden;
}

#resume h2 {
    margin-left: auto;
    margin-right: auto;
    margin: 8vh;
    text-align: center;
}

#resume a {
    margin-bottom: 8vh;
}

#tech-skills {
    background-color: beige;
    font-weight: 300;
}

#tech-skills .col-md-4 {
    margin: 50px;
    font-size: 200%;
}

#tech-skills .progress {
    text-align: center;
}

#zack-info h2, p {
    text-align: center;
}

.soc-med-logo {
    margin: 32px 26px;
}

.footer, .footer ~ p {
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
    background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    color: #9d9d9d;
    margin: 25px;
    text-align: center;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
}